<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id= "userSevice" class="com.ehr.service.UserService">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@211.238.142.124:1521:orcl"/>
		<property name="username" value="HRSPRING" />
		<property name="password" value="HRSPRING1026" />
	</bean>
	
	<bean id="userDao" class="com.ehr.UserDaoJdbc">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
</beans>
